/* CSS Document */
TD.pageHeader {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	color:#666666;
}

TD.pageSubHeading {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#999999;
}

H1 {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	color:#666666;
}

TD.pageSearch {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#999999;
}

TD.main {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:1.7;
	color:#000000;
}

TD.mainGrey, SPAN.mainGrey {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:1.7;
	color:#CCCCCC;
}

TD.mediumGrey, SPAN.mediumGrey {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:1.7;
	color:#CCCCCC;
	font-weight:bold;
}

TD.mainSmall {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	line-height:1.7;
	color:#000000;
}

TD.mainError {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:1.7;
	color:#FF0000;
}

TD.mainSuccess {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:1.7;
	color:#00FF00;
}

TD.mainGrey {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:1.7;
	color:#999999;
}

TD.mainLarge {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:1.7;
	color:#666666;
}

TD.subHeading {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:1.7;
	font-weight:bold;
	color:#000000;
}

TD.headerMenu {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:1.7;
	font-weight:bold;
	font-decoration:none;
	color:#333333;
}

A.headerMenu {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:1.7;
	font-weight:bold;
	color:#333333;
}

A.headerMenu:hover {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	line-height:1.7;
	font-weight:bold;
	color:#000000;
}

TD.columnBoxLeftHeader {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:15px;
	line-height:1.7;
	color:#333333;
	font-weight: bold;
}

TD.columnBoxLeftFooter {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:1.7;
	color:#999999;
	font-weight: bold;
}

A.columnBoxLeftFooter {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:1.7;
	color:#999999;
	font-weight: bold;
	text-decoration:none;
}

A.columnBoxLeftFooter:hover {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:1.7;
	color:#999999;
	font-weight: bold;
	text-decoration:underline;
}

TD.columnBoxLeftBody {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	line-height:1.7;
	color:#000000;
}

form { 
	margin: 0;
	padding: 0;
}

TD.pageBoxContent {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	line-height:1.7;
	color:#000000;

}

TD.pageBoxHeading {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	line-height:1.7;
	color:#000000;
	background:#CCCCCC;
}

TABLE.pageBox {
	border-color:#333333;
	border: 1px;
    border-style: solid;
    border-spacing: 1px;
	background: #FFFFFF;
	

}

TD.groupHeader {
    color: black;
    text-shadow: none;
}

TD.groupHeader > span {
    position: relative;
    top: 0px;
    left: 0px;
}

