{% extends 'layout.html.twig' %}
{% block content_body %}
{% if page_action=='success' %}
	<div class="alert alert-info">
		{{ error.get_error_string('account_change_password', 'success')|raw }}
	</div>
{% else %}
{% if error.get_error_status('account_change_password', 'error') %}
	<div class="alert alert-danger">
		{{ error.get_error_string('account_change_password', 'error')|raw }}
	</div>
{% endif %}	
  <form id="contact" method="post" action="agent_account_change_password.php?change_password=update">
  <p>Use the page below to update your password. When you are done press the "Update" button.</p>
<div class="col-md-4">
  <div class="form-group">
    <label class="required-field" for="contact_name">New Password</label>
    <input type="password" class="form-control contact-form" id="new_password" name="new_password" required placeholder="">
  </div>
   <div class="form-group">
    <label class="required-field" for="contact_emal">New Password Confirm</label>
    <input type="password" class="form-control contact-form" id="password_confirmation" name="password_confirmation" required placeholder="">
  </div>
   <button type="reset" class="btn btn-default btn-danger" style="float:left;">Reset</button>
  <button type="submit" name="submit_type" class="btn btn-default btn-info" style="float:right;">Update</button>
</form>
</div>
{% endif %}

{% endblock content_body %}