<div class="panel panel-default panel-menu sidebar-panel">
	<div style="height:48px"><img src="images/my_jobs_heading.jpg" alt="" width="260" border="0" height="48"></div>
	<div class="panel-body">
		<li>
			<a href="installer_view_future.php"><span class="fa arrow fa-arrow-right"></span>Future Jobs</a>
		</li>
		<li>
			<a href="installer_view_current_tom_1.php"><span class="fa arrow fa-arrow-right"></span>Tomorrow + 1</a>
		</li>
		<li>
			<a href="installer_view_current.php"><span class="fa arrow fa-arrow-right"></span>Jobs for Tomorrow</a>
		</li>
		<li>
			<a href="installer_view_today.php"><span class="fa arrow fa-arrow-right"></span>Today - Mark Complete</a>
		</li>
		<li>
			<a href="installer_view_completed.php"><span class="fa arrow fa-arrow-right"></span>Completed</a>
		</li>
		<li>
			<a href="installer_payments.php"><span class="fa arrow fa-arrow-right"></span>Payments</a>
		</li>
	</div>
</div>
<div class="panel panel-default panel-menu sidebar-panel">
	<div style="height:48px"><img src="images/my_account_heading_small.jpg" alt="" width="260" border="0" height="48"></div>
	<div class="panel-body sidebar-panel-body">
		<li>
			<a href="account_update.php"><span class="fa arrow fa-arrow-right"></span>Update Account Information</a>
		</li>
		<li>
			<a href="account_change_password.php"><span class="fa arrow fa-arrow-right"></span>Change Password</a>
		</li>
		<li>
			<a href="account_overview.php"><span class="fa arrow fa-arrow-right"></span>Account Overview</a>
		</li>
		<li>
			<a href="account_overview.php?action=logout"><span class="fa arrow fa-arrow-right"></span>Logoff</a>
		</li>
	</div>
</div>