{% extends '/order/order_layout.html.twig' %}
{% block order %}

<div class="alert alert-warning">
	You do not currently have any Active signposts.  When you are ready, we will be happy to meet your {{ constant('BUSINESS_NAME') }} needs.
</div>


{% endblock order %}